# Server
PORT=4000
NODE_ENV=production

# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/ckf_blog?schema=public"

# Auth — WAJIB ganti JWT_SECRET
JWT_SECRET=ubah-ke-secret-acak-panjang-min-32-char
JWT_EXPIRES=7d
COOKIE_SECURE=true

# CORS
CLIENT_ORIGIN=https://domain-yayasan.com

# Upload
UPLOAD_DIR=./uploads
MAX_UPLOAD_MB=5
